@import "~bootstrap/dist/css/bootstrap.min.css";

.packet {
    border: 1px solid;
    /*width: 600px;*/
    height: 250px;
    margin: auto;
    overflow: hidden;
}

.slider {
    width: 200%;
    height: 250px;
    /*background-color: #0b5ed7;*/
    transition: ease-in-out 0.5s;
}

.slider .left, .slider .right {
    width: 50%;
    height: 250px;
    /*background-color: #0dcaf0;*/
    float: left;
}

.slider .box {
    width: 300px;
    height: 100%;
    /*background-color: #0f5132;*/
    margin: auto;
    padding: 20px;
}

.next-form {
    margin-left: -100%;
}

input {
    margin: auto;
    width: 100% !important;
    height: 50px;
}

.next {
    float: right;
}

.btn{
    width: 120px;
}
.right-box{
    width: 450px !important;
}
/*.prev{*/
/*    float: left;*/
/*}*/

/*.add{*/
/*    float: right;*/
/*}*/